header.header
  .header__wrapper
    a.header__logo.logo(href="/")
      img(src="/img/logo.svg" alt="Логотип Куплю Продам" width="179" height="34")
    nav.header__user-menu
      ul.header__list
        li.header__item
          a(href="/") Публикации
        li.header__item
          a(href="/my/comments") Комментарии
    form.search(method="get" action="/search" autocomplete="off")
      input(name="search" type="search" aria-label="Поиск" placeholder="Поиск")
      .search__icon
      .search__close-btn
    a.header__avatar.avatar(href="#")
      img(src="/img/avatar.jpg" alt="Аватар пользователя" srcset="/img/avatar@2x.jpg 2x")
    a.header__input(href="/register") Вход и регистрация
